/**
Ajustes nos títulos 'Subclassificação' e 'Regras de Ouro' para deixar com mesma fonte que os títulos dos campos
*/
.listaRegraOuro .sapMListHdr{
    font-size: 0.875rem;
    font-family: "72-Web",Arial,Helvetica,sans-serif;
    font-weight: bold;
}

.requerido:before,
.listaRegraOuro .sapMListHdr:before {
    content: "*";
    color: #c14646;
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 0;
    position: relative;
    top: 0.15rem;
}


.itemRegraOuro{
  width:33%;
  display:inline-flex;
  
}

.itemRegraOuro div{
  overflow: initial !important;
  white-space: normal !important;
  font-size: small;
}


/*Telas muito grande*/
@media screen and (min-width: 1400px) {
  .itemRegraOuro{
  width:25%;
  }

}


/*Telas medias*/
@media screen and (max-width: 1000px) and (min-width: 650px) {
  .itemRegraOuro{
  width:50%;
  }
}

/*Telas pequenas*/
@media screen and (max-width: 650px) {
  .itemRegraOuro{
  width:100%;
  }

}

